@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0px;
  padding: 0px;
  font-family: 'poppins , sans-serif';
}

.edit-modal-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; /* High z-index to ensure it's on top */
}

.edit-modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px; /* Adjust width as needed */
  z-index: 10000; /* Ensure content is above overlay */
}
